<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>Creditt :) - Alugue sua bike</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/png" href="img/money.png" media="all" />

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-messages.js"></script>
    <script src="scripts/js/app.js"></script>
    <script src="scripts/js/controllers/creditoJaCtrl.js"></script>

    <link rel="stylesheet" type="text/css" href="scripts/css/estilo_principal.css" media="all" />
    <link rel="stylesheet" type="text/css" href="scripts/css/estilo_usuario.css" media="all" />
    <link rel="stylesheet" type="text/css" href="scripts/css/estilo_idea_item.css" media="all" />
    <link rel="stylesheet" type="text/css" href="scripts/css/estilo.css" media="all" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.min.css"  media="all"/>

    <script type="text/javascript" src="lib/jquery/jquery.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>

    <script type="text/javascript" src="scripts/js/popup_login.js"></script>

    <style>
            .backdrop{
                color: #00838f;
                font-size: 9px !important;
            }
        </style>


</head>
<body>
<div class="container">
    <div class="global">

        <div id="top-logado">

            <header class="top-logado" style="display: block; border-bottom: 1px solid #dce0e0;">
                <a href="/main"><div class="position-logo">
                    <img src="img/money.png" alt="uau"/>
                </div></a>

                <div class="links-main">
                    <div class="item-link"><a href=""><span>Vamos fazer uma simulação?</span></a></div>
                    <div class="item-link"><a href=""><span>Notificações</span></a></div>
                    <div class="item-link"><a href=""><span>Mensagens</span></a></div>
                    <div class="item-link"><a href=""><span>Ajuda</span></a></div>

                    <div class="item-link-profile">
                        <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Matheus Almeida"><img src="img/matheusjunior66_1438393126_140.jpg" alt="perfil" /></a>
                    </div>

                </div>

            </header>
        </div>

        <div class="geral">

            <div class="conteiner-lado-esquerdo">
                <section class="titulo-ideia-info">
                    <h1>
                        Alugue sua bike
                    </h1>
                    <h6><span style="font-weight: 600">Arujá</span> . São Paulo</h6>
                </section>

                <div class="desc-ideia-info">
                    <div class="sobre-ideia">Vivemos em um mundo caotico e muito disso se deve ao trânsito da nossa cidade!</div>
                    <div class="perfil-dono">
                        <img src="img/matheusjunior66_1438393126_140.jpg" alt=""/>
                    </div>
                </div>

                <div class="sobre-dono-ideia-info">
                    <div class="sobre-dono-titulo"><h6 style="font-weight: 600">Sobre o criador</h6></div>
                    <div>
                        Meu nome é Matheus. Tenho 22 anos. Sou ciclista a alguns anos e durante esses anos pude perceber o quanto o trânsito é concorrido
                        em grandes metrópolis como São Paulo por exemplo.
                    </div>
                </div>

                <div class="sobre-dono-ideia-info">
                    <div class="sobre-dono-titulo"><h6 style="font-weight: 600">Nossa equipe</h6></div>
                    <div class="item-equipe">
                        <ul>
                            <li><img src="img/matheusjunior66_1438393126_140.jpg" alt=""/></li>
                            <li><img src="img/ZRo6dB9C_400x400.jpg" alt=""/></li>
                            <li><img src="img/22687873_1346607282114426_7908262778545029297_n.jpg" alt=""/></li>
                        </ul>
                    </div>
                </div>

                <div class="sobre-dono-ideia-info">
                    <div class="sobre-dono-titulo"><h6 style="font-weight: 600">De onde estão investindo?</h6></div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d510554.01560661657!2d103.8801669434881!3d1.354636946806457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da11238a8b9375%3A0x887869cf52abf5c4!2sCingapura!5e0!3m2!1spt-BR!2sbr!4v1511221512987" width="600" height="200" frameborder="0" style="border:0"></iframe>

                </div>
            </div>

            <div class="conteiner-lado-direito">

            </div>

        </div>

        <footer class="hide-on-med-and-down">
            <div class="colum-footer">
                <div class="coluns-info"></div>

                <div class="coluns-info">
                    <div>
                        <select class="select-local">
                            <option value="pt" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$pt">Português</option>
                            <option value="ms" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$ms">Bahasa Melayu</option>
                            <option value="ca" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$ca">Català</option>
                            <option value="da" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$da">Dansk</option>
                            <option value="de" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$de">Deutsch</option>
                            <option value="en" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$en">English</option>
                            <option value="es" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$es">Español</option>
                            <option value="el" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$el">Eλληνικά</option>
                            <option value="fr" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$fr">Français</option>
                            <option value="it" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$it">Italiano</option>
                            <option value="hu" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$hu">Magyar</option>
                            <option value="nl" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$nl">Nederlands</option>
                            <option value="no" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$no">Norsk</option>
                            <option value="pl" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$pl">Polski</option>
                            <option value="pt" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$pt">Português</option>
                            <option value="fi" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$fi">Suomi</option>
                            <option value="sv" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$sv">Svenska</option>
                            <option value="tr" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$tr">Türkçe</option>
                            <option value="is" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$is">Íslenska</option>
                            <option value="cs" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$cs">Čeština</option>
                            <option value="ru" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$ru">Русский</option>
                            <option value="th" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$th">ภาษาไทย</option>
                            <option value="zh" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$zh">中文 (简体)</option>
                            <option value="zh-TW" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$zh-TW">中文 (繁體)</option>
                            <option value="ja" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$ja">日本語</option>
                            <option value="ko" data-reactid=".21tat8tliww.0.0.0.0.0.0.1.1.0.1:$ko">한국어</option>
                        </select>
                    </div>

                    <div>
                        <select class="select-local">
                            <option value="BRL" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$BRL">BRL</option>
                            <option value="AED" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$AED">AED</option>
                            <option value="ARS" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$ARS">ARS</option>
                            <option value="AUD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$AUD">AUD</option>
                            <option value="BGN" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$BGN">BGN</option>
                            <option value="BRL" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$BRL">BRL</option>
                            <option value="CAD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CAD">CAD</option>
                            <option value="CHF" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CHF">CHF</option>
                            <option value="CLP" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CLP">CLP</option>
                            <option value="CNY" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CNY">CNY</option>
                            <option value="COP" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$COP">COP</option>
                            <option value="CRC" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CRC">CRC</option>
                            <option value="CZK" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$CZK">CZK</option>
                            <option value="DKK" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$DKK">DKK</option>
                            <option value="EUR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$EUR">EUR</option>
                            <option value="GBP" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$GBP">GBP</option>
                            <option value="HKD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$HKD">HKD</option>
                            <option value="HRK" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$HRK">HRK</option>
                            <option value="HUF" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$HUF">HUF</option>
                            <option value="IDR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$IDR">IDR</option>
                            <option value="ILS" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$ILS">ILS</option>
                            <option value="INR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$INR">INR</option>
                            <option value="JPY" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$JPY">JPY</option>
                            <option value="KRW" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$KRW">KRW</option>
                            <option value="MAD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$MAD">MAD</option>
                            <option value="MXN" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$MXN">MXN</option>
                            <option value="MYR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$MYR">MYR</option>
                            <option value="NOK" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$NOK">NOK</option>
                            <option value="NZD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$NZD">NZD</option>
                            <option value="PEN" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$PEN">PEN</option>
                            <option value="PHP" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$PHP">PHP</option>
                            <option value="PLN" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$PLN">PLN</option>
                            <option value="RON" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$RON">RON</option>
                            <option value="RUB" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$RUB">RUB</option>
                            <option value="SAR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$SAR">SAR</option>
                            <option value="SEK" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$SEK">SEK</option>
                            <option value="SGD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$SGD">SGD</option>
                            <option value="THB" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$THB">THB</option>
                            <option value="TRY" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$TRY">TRY</option>
                            <option value="TWD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$TWD">TWD</option>
                            <option value="UAH" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$UAH">UAH</option>
                            <option value="USD" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$USD">USD</option>
                            <option value="UYU" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$UYU">UYU</option>
                            <option value="VND" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$VND">VND</option>
                            <option value="ZAR" data-reactid=".21tat8tliww.0.0.0.1.0.0.0.1.1.0.1:$ZAR">ZAR</option>
                        </select>
                    </div>
                </div>

                <div class="coluns-info">
                    <h1>Creditt :)</h1>
                    <div>
                        <ul class="list">
                            <li><a>Sobre</a></li>
                            <li><a>Carreira</a></li>
                            <li><a>Imprensa</a></li>
                            <li><a>Políticas de Uso</a></li>
                            <li><a>Ajuda</a></li>
                        </ul>
                    </div>
                </div>

                <div class="coluns-info">

                    <h1>Descubra</h1>
                    <div>
                        <ul class="list">
                            <li><a>Confiança e Segurança</a></li>
                            <li><a>Mesa de Negócios</a></li>
                            <li><a>Guias</a></li>
                        </ul>
                    </div>

                </div>

                <div class="coluns-info">
                    <h1>Emprestimos</h1>

                    <div>
                        <ul class="list">
                            <li><a>Por Que Emprestar</a></li>
                            <li><a>Seguro na Transação</a></li>
                            <li><a>Emprestando com Responsabilidade</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="footer-info">
                <div class="footer-left">
                    <span>© Creditt, Inc.</span>
                </div>
                <div class="footer-right">
                    <a><span>Termos e Privacidade</span></a>
                    <a><span>Mapa do Site</span></a>
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/?hl=pt-br"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </footer>

    </div>
</div>
</body>
</html>
