/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/12/2016, 11:57:46
    Author     : Familia
*/

.global{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.top{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.97);
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.1);*/
    z-index: 500;
    display: block;
}

.top-logado{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.97);
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.1);*/
    z-index: 500;
    display: none;
}

.top-logado-search{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    z-index: 500;
    display: none;
}

.top-search{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.97);
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
    z-index: 500;
    display: none;
}

.vertical-separador{
    position: absolute;
    left: 80px;
    height: 60px;
    border-left: 0.1px solid rgba(220, 224, 224, 0.36);
}

.search-toolbar{
    position: absolute;
    left: 85px;
    height: 60px;
    width: 50%;
    float: left;
}

.search-toolbar > i{
    position: absolute !important;
    left: 5px !important;
    top: 21px !important;
    font-size: 20px !important;
    color: rgba(72, 72, 72, 0.84) !important;
}

.search-toolbar-text{
    width: 90% !important;
    height: 50px !important;
    color: #484848 !important;
    font-size: 12px !important;
    padding-top: 6px !important;
    padding-left: 10px !important;
    letter-spacing: 0.8px !important;
    border: none !important;
    float: top !important;
    margin-left: 30px !important;
}

.position-logo{
    position: absolute;
    top: 50%;
    left: 30px;
    height: 25px;
    margin-top: -12.5px;

}

.position-logo > img{
    width: 25px;
    height: 25px;
}

.position-logo-mobile{
    position: absolute;
    top: 30px;
    left: 30px;
    height: 25px;
    margin-top: -15px;

}

.position-logo-mobile > img{
    width: 20px;
    height: 20px;
}

.links-main{
    position: absolute;
    right: 50px;
    top: 15px;
}

.links-main > div.item-link{
    margin-top: 5px;
    float: left;
    margin-left: 30px;
}

.links-main > div.item-link-profile{
    margin-top: 2px !important;
    float: left !important;
    margin-left: 30px !important;
    cursor: pointer !important;
}

.links-main > div > a{
    font-size: 12px !important;
    cursor: pointer !important;
    text-decoration: none !important;
    color: #484848 !important;
}

.links-main > div > a > span{
    font-size: 12px;
    cursor: pointer;
}

.links-main > div > a> img{
    width: 28px !important;
    height: 28px !important;
    border-radius: 100% !important;
    border: 2px solid #607d8b !important;
    /*border: 2px solid #fff !important;*/
    box-shadow: 0 1px 5px rgba(0,0,0,0.1) !important;
}

.slide{
    position: relative;
    /*    position: absolute; 
        top: 120px;*/
    left: 0px;
    width: 100%;
    height: 400px;
    background: #fff;
    background-image: url(../..//img/startup.jpg);
    background-repeat: no-repeat;
    background-position-y: -100px;
    background-size: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    display: block;
}

.info{
    position: absolute;
    left: 10%;
}

.info > h5{
    font-size: 2.5vmin !important;
    font-weight: 100 !important;
    color: #fff;
    text-shadow: 2px 2px 8px #000;
}

.info > h1{
    font-size: 5vmin !important;
    color: #fff !important;
    text-shadow: 2px 2px 8px #000;
}

.welcome{
    position: relative;
    /*    position: absolute; 
        top: 120px;*/
    left: 0px;
    width: 100%;
    height: 120px;
    background: #fff;
    /*background: linear-gradient(to bottom, rgba(249, 250, 252, 0) 15%, #e6e6e6 100%);*/
    margin-top: 50px;
    margin-bottom: 100px;
}

.info-welcome{
    position: relative;
    top: 20px;
    left: 10%;
    width: 80%;
} 

.info-welcome > h1 {
    color: #484848;
    font-weight: 100;
    font-size: 4vmin;
}

.info-welcome > h5{
    font-size: 2.5vmin !important;
    font-weight: 100 !important;
}

.info-welcome > h1 > span{
    color: #008489;
    font-weight: bold;
    font-size: 4vmin;
}

.parameter-explorer{
    position: relative;
    /*top: 600px;*/
    left: 50%;
    width: 1000px;
    height: 80px;
    margin-left: -500px;
    border-radius: 8px;
    /*background: #000;*/
    margin-bottom: 70px;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

.parameter-explorer > form > div{
    float: left;
    margin-top: 15px;
}

.parameter-titulo{
    margin-left: 5px;
    font-size: 14px !important;
    color: #484848;
    letter-spacing: -0.5px;
    white-space: nowrap;
    font-weight: 500;
}

.parameter-onde{
    width: 300px;
    margin-left: 25px;
}

.parameter-explorer > form > div > input{
    height: 30px;
    width: 95%;
    padding-left: 5px;
    font-size: 18px !important;
    border: none;
}

.parameter-explorer > form > div > input:focus{
    height: 30px;
    width: 95%;
    border-bottom: 1px solid #008489;
}

.parameter-quando{
    width: 220px;
    margin-left: 25px;
}

.parameter-pessoas{
    width: 200px;
    margin-left: 25px;
}

.parameter-explorer > form > button{
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -25px;
    width: 100px;
    height: 50px;
    /*background: #00ff5f;
    background: #ee6e73ba;
    background: #ffded2;*/
    background: #ee6e73;
    color: #eee;
    font-weight: 100;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
} 

.parameter-explorer > form > button:hover{
    color: #FFF;
}

.parameter-explorer-mobile{
    position: relative;
    /* top: 600px; */
    width: 100%;
    height: 50px;
    border-radius: 8px;
    /* background: #000; */
    margin-bottom: 70px;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1); 
}

.parameter-explorer-mobile > input{
    position: absolute !important;
    left: 20px !important;
    width: 80% !important;
    border: none !important;
    font-size: 18px !important;
}

.parameter-explorer-mobile> input:focus{
    border-bottom: none !important;
}

.parameter-explorer-mobile > button{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background: transparent;
    border: none;
    border-radius: 4px;
    color: #000;
    text-align: center;
}

.parameter-explorer-mobile > button > i{
    position: relative;
    top: 1px;
    right: 3px; 
}

.conteiner-expancao{
    position: relative;
    /*top: 750px;*/
    left: 50%;
    width: 1000px;
    margin-left: -500px;
    border-radius: 8px;
    /*background: #000;*/
    margin-bottom: 80px;
    /*    border: 1px solid #ccc;
        box-shadow: 0 1px 5px rgba(0,0,0,0.1);*/
}

.conteiner-divisao{
    width: 100%;
    height: 50px;
}

.conteiner-restaurantes{
    width: 100%;
    height: 300px;
    margin-bottom: 60px;
}

h3.title{
    color: #484848;
    margin-left: 15px;
    font-size: 16px;
}

.conteiner-itens{
    margin-top: 10px;
    width: 100%;
}

.restaurante-item-mobile{
    width: 80%;
    height: 350px;
    margin-left: 10px;
    /*background: #484848;*/
    float: left;
}

.restaurante-item{
    width: 32%;
    height: 250px;
    margin-left: 10px;
    /*background: #484848;*/
    float: left;
}

.image-item > img{
    width: 100%;
    height: 200px;
}

.info-item{
    margin-top: 5px;
}

.descricao-item{
    font-size: 12px;
}

.recomendacao-item{
    margin-top: 4px;
}

.recomendacao-item > i{
    font-size: 13px;
}

.recomendacao-item > span{
    font-size: 11px;
    color: #484848;
}

.conteiner-experiencia{
    width: 100%;
    display: block;
    margin-bottom: 60px;
    height: 420px;
}

.conteiner-experiencia > h3{
    color: #484848;
    margin-left: 15px;
    font-size: 16px;
}

.experiencia-item{
    width: 23.5%;
    height: 370px;
    margin-left: 12px;
    /*    background: #484848;*/
    float: left;
}

.image-experiencia-grande-item > img{
    width: 100%;
    height: 330px;
}

input{
    color: #484848;
    font-size: 19px;
    letter-spacing: -0.5px;
    line-height: 22px;
}

input:focus, button:focus{
    outline: none;
}

.modal-login{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.78);
    z-index: 600;
    display: none;
}

.popup-singup{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 440px;
    min-height: 570px;
    margin-left: -220px;
    margin-top: -285px;
    margin-bottom: 30px;
    background: #fff;
    border-radius: 4px;
    z-index: 10000000;
    display: none;
}

.singup-title > *{
    font-size: 20px !important;
}

.singup-connect-social{
    font-size: 13px !important;
    text-align: center !important;
}

.singup-connect-social > * > a{
    color: #008489;
}

.popup-login{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 440px;
    min-height: 570px;
    margin-left: -220px;
    margin-top: -285px;
    background: #fff;
    border-radius: 4px;
    z-index: 10000000;
    display: none;
}

.login-connect-social{
    position: relative;
    margin-top: 30px;
    width: 380px;
    left: 50%;
    margin-left: -190px;
}

.login-connect-social > button{
    width: 100%;
    height: 65px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 1px solid;
    font-size: 14px;
    cursor: pointer;
}

.login-connect-social > button > i{
    position: absolute;
    left: 25px;
    font-size: 20px; 
}

.login-connect-social > button > img{
    position: absolute;
    left: 25px;
    width: 20px;
    height: 20px;
}

.btn-facebook{
    border-color: #3B5998 !important;
    background-color: #3B5998;
    color: #fff;
}

.btn-facebook:focus{
    background-color: #3B5998 !important;
}

.btn-google{
    border-color: #aaa !important;
    color: #484848;
    background: #fff;
}

.btn-google:focus{
    background-color: #FFF !important;
}

.signup-or-separator {
    position: relative;
    width: 380px;
    left: 50%;
    margin-left: -190px;
    background: none;
    height: 28px;
    text-align: center;
}

.signup-or-separator hr{
    margin: -16px auto 10px;
    width: 100%;
}

.signup-or-separator--text {
    background-color: #fff;
    display: inline-block;
    padding: 8px;
}

h6, .h6 {
    font-size: 12px;
    font-weight: bold;
    color: #767676;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #dce0e0;
}

.login-inputs{
    position: relative !important;
    margin-top: 10px !important;
    width: 380px !important;
    left: 50% !important;
    margin-left: -190px !important;
}

.login-inputs > input{
    width: 97% !important; 
    height: 60px !important;
    margin-bottom: 10px !important;
    border-radius: 4px !important;
    border: 1px solid !important;
    font-size: 15px !important;
    border: 1px solid #aaa !important;
    padding-left: 10px !important;
    color: #484848 !important;
}

.login-erro-info{
    border-color: #ffb400;
    background: #fff8e5;
}

.login-inputs > .singup-nomes{
    background: url(../..//img/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png) !important;
    background-repeat: no-repeat !important;
    background-position: right 20px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: block !important;
    padding: 10px 35px 10px 10px !important; 
    width: 100% !important;
    -webkit-background-size: 40px 171px !important;
    -moz-background-size: 40px 171px !important;
    -o-background-size: 40px 171px !important;
    background-size: 40px 171px !important;
    letter-spacing: 0.25px !important;
}

.login-inputs > .singup-email{
    background: url(../..//img/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png) !important;
    background-repeat: no-repeat !important;
    background-position: right -30px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: block !important;
    padding: 10px 35px 10px 10px !important; 
    width: 100% !important;
    -webkit-background-size: 40px 171px !important;
    -moz-background-size: 40px 171px !important;
    -o-background-size: 40px 171px !important;
    background-size: 40px 171px !important;
    letter-spacing: 0.25px !important;
}

.login-inputs > input[type=password]{
    background: url(../..//img/text-field-icons-72d5ec863b1ef7c22391015ec8af5906.png) !important;
    background-repeat: no-repeat !important;
    background-position: right -80px !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    display: block !important;
    padding: 10px 35px 10px 10px !important;
    width: 100% !important ;
    -webkit-background-size: 40px 171px !important;
    -moz-background-size: 40px 171px !important;
    -o-background-size: 40px 171px !important;
    background-size: 40px 171px !important;
    letter-spacing: 1px !important;
}

.login-inputs > input:focus{
    border: 1px solid #008489 !important;
    border-bottom: none !important;
    border-color: #008489 !important;
}

.login-inputs > label{
    font-size: 12px;
    color: #484848 !important;
    padding-bottom: 10px;
    display: inline-block;
    display: block;
}

.login-mais{
    position: relative !important;
    margin-top: 10px !important;
    width: 380px !important;
    left: 50% !important;
    margin-left: -190px !important;
}

.login-mais > label {
    color: #484848 !important;
    font-size: 12px !important;
}


/*.login-mais input[type=checkbox] {
    position: relative !important;
    visibility: hidden !important;
    margin-right: 2px !important;
    cursor: pointer !important;
}

.login-mais input[type=checkbox]:before {
    content: " " !important;
    display: inline-block !important;
    margin-right: 15px !important;
    width: 12px !important;
    height: 12px !important;
    visibility: visible !important;
    border: 1px solid #aaa !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    line-height: 12px !important;
    font-size: 0.85em !important;
    text-align: center !important;
    color: #052 !important;
    padding: 2px !important;
}

.login-mais input[type=checkbox]:checked:before {
    content: "\2713" !important;
    position: absolute !important;
    font-size: 0.85em !important;
    text-align: center !important;
    color: #008489 !important;
    padding: 2px !important;
    line-height: 12px !important;
}*/

.forgot-password{
    padding-top: 5px;
    color: #008489;
    font-size: 12px;
    text-decoration: none;
}

.forgot-password:hover{
    text-decoration: underline;
}

.pull-right {
    float: right;
}

.login-entrar{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 380px;
    left: 50%;
    margin-left: -190px;
}

.login-entrar > button{
    width: 100%;
    height: 65px;
    margin-bottom: 5px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    /*background: #00ff5f;*/
    background: #ee6e73;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.login-entrar > button:focus{
    background: #ee6e73 !important;
}

.clearfix{
    position: relative;
    margin-top: 0px;
    width: 380px;
    height: 50px;
    left: 50%;
    margin-left: -190px;
}

.signup-login-form__switch-copy{
    float: left;
    display: inline-block;
    margin-right: 4px;
    margin-top: 10px;

}

.signup-login-form__switch-copy > span{
    font-size: 12px;
    color: #484848;
}

.signup-button{
    float: right;
}

.signup-button > a > button{
    background: transparent;
    border-radius: 4px;
    border: 1px solid #008489;
    height: 35px;
    width: 100px;
    cursor: pointer;
    color: #008489;
}

.signup-button > button:focus{
    background: transparent !important;
}

.login-button{
    float: right;
}

.login-button > a >  button{
    background: transparent;
    border-radius: 4px;
    border: 1px solid #008489;
    height: 35px;
    width: 130px;
    cursor: pointer;
    color: #008489;
}

.login-button > button:focus{
    background: transparent !important;
}

footer{
    width: 100%;
    min-height: 300px;
    background-color: #fff;
    border-top: 1px solid #dce0e0; 
    float: bottom;
}

.colum-footer{
    position: relative;
    margin-top: 50px;
    left: 50%;
    height: 200px;
    width: 1000px;
    margin-left: -500px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.coluns-info{
    width: 25%;
    float: left;
}

ul.list{
    padding-left: 0;
    list-style: none;
}

ul.list > li{
    margin-bottom: 4px;
}

ul.list > li > a{
    color: #767676 !important;
    font-size: 13px;
}

.coluns-info > h1{
    font-size: 14px;
    color: #484848;
    margin: 0 !important;

}

.footer-info{
    position: relative;
    left: 50%;
    height: 80px;
    width: 1000px;
    margin-left: -500px;
    border-top: 1px solid #dce0e0;
}

.footer-left{
    margin-top: 20px;
    float: left;
}

.footer-left > span{
    color: #767676 !important;
    font-size: 12px !important;
    cursor: pointer;
}

.footer-right{
    margin-top: 20px;
    float: right;
}

.footer-right > a{
    color: #767676 !important;
    cursor: pointer;
}

.footer-right > a > i{
    font-size: 13.5px;
    margin-left: 20px;
}

.footer-right > a > span{
    font-size: 12px;
    margin-left: 10px;
}

.fa-facebook-f:hover{
    color: #4267b2;
}

.fa-instagram:hover{
    color: #b24284;
}

.fa-twitter:hover{
    color: #1b95e0;
}

.select-local{
    width: 140px;
    padding: 15px;
    border: 1px solid rgba(170, 170, 170, 0.34);
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    color: #484848 !important;
    background-color: transparent !important;
    border-radius: 0px !important;
    padding-left: 12px !important;
    padding-right: 40px !important;
    height: auto !important;
    display: block !important;
    width: 180px;
    -webkit-appearance: none !important;
    transition: border-color 0.2s;
    outline: none;
    margin-top: 10px;
}

.select-local:focus{
    border-color: #008489;
}

.central{
    margin-top: 60px;
    min-height: 500px;
}